.single-about{
    border: 1px solid $primary-color;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    width: 23.5%;
    padding: 40px 20px;

    &:last-child{
        margin-right: 0;
    }

    & h4{
        text-transform: capitalize;
        font-size: 26px;
        font-weight: 500;
    }

    & p{
        margin: 20px 0;
    }

    & a{
        color: $black;
    }
}