.cta{
    text-align: center;
    & h4{
        color: $white;
        font-size: 48px;
        text-transform: capitalize;
    }
    & p{
        color: $white;
        width: 500px;
        margin: 30px auto;
    }
}